
@model DotNetCoreSecurityFull.Areas.Account.Models.ApplicationUserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="card">
        <div class="card-header">
            <h5 style="color: black; font-weight: bold">Application User List</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    @*<th>Full Name</th>*@
                    <th>Email</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ApplicationUsers)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <a href="Account/Account/PasswordResetByAdmin/@item.UserName" class="btn btn-primary">Reset</a>
                            <a href="Account/Account/PasswordSetByAdmin/@item.UserName" class="btn btn-primary">Set</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>

